body {
  margin: 0px;
}
.white {
  /* nav bar ko white wala sano text */
  gap: 20px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.white2 {
  gap: 20px;
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.white3 {
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.white4 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.black1 {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.blue1 {
  /* blue color ko underline auna hover garda */
  color: #0457c8;
  text-decoration: none;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}
.black2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  /* color: red; */
}
.black3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.blue1:hover {
  text-decoration: underline;
  color: #0457c8;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

.blue2 {
  color: #2966bd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  gap: 30px;
}
.blue3 {
  color: #2966bd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
}
.blue3:hover {
  text-decoration: underline;
  color: #1d447a;
}
.blue4 {
  color: #2967bd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  /* font-weight: bold; */
}
.blue4:hover {
  color: #2967bd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-decoration: underline;
}
.blue5 {
  color: #2967bd;
  text-decoration: underline;
}
.blue5:hover {
  color: black;
  animation-duration: 5s;
}
.blue6 {
  color: #0046be;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  /* text-decoration: underline; */
}
.blue6:hover {
  text-decoration: underline;
}
.blue7 {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  color: #0046be;
  font-weight: bold;
}
.head1 {
  /* border: solid green 1px; */
  display: flex;

  background-color: #013096f6;
  justify-content: left;
  padding-left: 30px;
  padding-right: 30px;
}
.head2 {
  display: flex;
  background-color: #0046bef1;
  justify-content: space-between;
  /* border: solid rgb(191, 244, 1); */
  gap: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: solid rgba(255, 255, 255, 0.281) 1px;
}
.subhead1 {
  display: flex;
  justify-content: left;
  /* border: solid rgb(17, 244, 1); */
}
.search {
  width: 617px;
  height: 35px;
  border-radius: 5px;
  border: none;
}
.num2 {
  display: flex;
  align-items: center;
  margin-left: 40px;
}
.num1 {
  align-items: center;
  display: flex;
}
.num3 {
  display: flex;
  position: relative;
  align-items: center;
  margin-left: 50px;
}
.searchicon1 {
  /* border: solid rgb(1, 110, 244); */
  left: 0px;
  top: 0px;
  /* z-index: 10; */
}

.searchicon {
  position: absolute;
  /* justify-items: right; */
  z-index: 4;
  margin-left: 95%;
  width: 25px;
  height: 25px;
  /* border: solid rgb(244, 17, 1); */
}
.subhead2 {
  display: flex;
  gap: 50px;

  /* border: solid rgb(244, 199, 1); */
}
.Aiea {
  display: flex;
  gap: 10px;
  /* border: solid rgb(1, 54, 244); */
  align-items: center;
}
.Cart {
  display: flex;
  gap: 10px;
  /* border: solid rgb(240, 1, 244); */
  align-items: center;
}
.head3 {
  /* border: solid purple 1px; */
  display: flex;
  justify-content: space-between;
  background-color: #0046bef1;
  padding-left: 30px;
  padding-right: 40px;
}
.lowhead1 {
  display: flex;
  justify-content: left;
  align-items: baseline;
  /* border: solid green; */
}
.lowhead2 {
  display: flex;
  /* border: solid green; */
  /* justify-content: right; */
  align-items: center;
}
.bottomhr {
  margin-left: 50px;
  margin-right: 50px;
}
.lasthr {
  color: rgb(65, 65, 65);
}
.footer1 {
  /* border: solid purple; */
  display: flex;
  justify-content: space-evenly;
  padding-right: 10px;
  padding-bottom: 40px;
}

.fchild {
  /* border: solid purple; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer2 {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  padding-right: 10px;
  /* border: solid blue; */
  padding-bottom: 60px;
}
.childfot1 {
  display: flex;
  flex-direction: column;
}
.row1 {
  /* border: solid purple; */
  display: flex;
}
.row2 {
  /* border: solid green; */
  display: flex;
}
.rcontainer {
  /* border: solid orange; */
  width: 200px;
  margin-left: 50px;
  margin-right: 50px;
}
.footerlogo {
  display: flex;
}
.contetf {
  line-height: 2px;
  margin-top: 10px;
}
.footerlogo2 {
  display: flex;
  gap: 40px;
}
.childfot2 {
  /* border: solid rgb(218, 32, 184); */
  padding: 20px;
  padding-top: 5px;
  background-color: white;
  margin-top: 20px;
  margin-right: 8px;
  width: 400px;
  height: 370px;
}
.footer {
  background-color: rgba(221, 221, 221, 0.443);
  padding-bottom: 30px;
}
.footer3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: solid brown; */
  margin-left: 50px;
  margin-right: 50px;
}
.lastfooter {
  display: flex;
  /* border: solid green; */
  gap: 40px;
}
.footer4 {
  margin-left: 50px;
  margin-right: 50px;
  /* border: solid purple; */
}
.childf1 {
  /* border: solid pink; */
  display: flex;
  gap: 10px;
}
.review {
  display: flex;
  gap: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.submitemail {
  width: 270px;
  height: 30px;
  border-radius: 5px;
  border: solid rgba(128, 117, 117, 0.751) 1px;
}
.bsignup {
  height: 34px;
  width: 130px;
  border-radius: 5px;
  border: none;
  background-color: #0046be;
}
input {
  padding-left: 13px;
}

input::placeholder {
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: rgba(87, 87, 87, 0.82);
}
.signupb {
  gap: 10px;
  display: flex;
}

.bodycontent {
  border: solid green;
  height: 600px;
}
.body1 {
  border: solid purple;
   height: 600px;
   margin: 20px;
}
